<!DOCTYPE html>
<html>
  <head>
    <title>Moriya Ryota</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="home">
      <header >
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="https://kyoto-kouryaku.com/">BLOG</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </header>
      <div class="intro">
        <h2 class="name">MORIYA　RYOTA</h2>
        <p class="sub-title">ウェブサイト作ってみました</p>
        <a class="btn btn--orange" href="#">プロフィール</a> 
      </div>
    </div>  
    <div class="contents">
      <h2 id="point">プロフィール</h2>
      <h3>自己紹介</h3>
      <p>立命館大学4回生の守屋亮太です。趣味でウェブサイトを制作してます。<br>
        大学4回生の1年間を最大限生かして、さまざまなことに挑戦していきます。  
      </p>
      <h3>自己紹介</h3>
      <p>
      あるある探検隊笑
      <p>
    </div>
    <footer>
      <p>©2021 Moriya Ryota</p>
    </footer>

  </body>
</html>
